# ENV中的配置将会覆盖 internal/config/config.go 中的配置

# 环境变量
APP_ENV=local

# 跨域地址配置，用,分隔
SERVER_ADDR=*
# 服务器端口
SERVER_PORT=8980

# 数据库配置，sqlite 不需要配置其他项
DATABASE_HOST=./db/test.db
# DATABASE_USER=
# DATABASE_PASSWORD=
# DATABASE_NAME=

# 后台管理员信息
AUTH_USER=admin
AUTH_PASSWORD=admin
# 登录 token 签名密钥
AUTH_SIGN_KEY=123456

# 容器共享网络名
DOCKER_SHARED_NET=default